body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    background: #141335;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
input{
    border: none;
    height: 30px;
    border-radius: 10px;
}
input:focus{
    outline: none;
}
a:hover{
    transform: scale(1.05);
    color: chartreuse;
}
h2, h3, p{
    height: auto;
}
button{
    background: transparent;
    border: none;
}
.container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, rgba(20, 19, 53, 0.83) 0%, #B7BDC7 54.69%, rgba(20, 19, 53, 0.5) 100%);
    border-radius: 30px;
    /* background: white; */
}
.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: linear-gradient(180deg, rgba(20, 19, 53, 0.83) 0%, #B7BDC7 54.69%, rgba(20, 19, 53, 0.5) 100%);
    border-radius: 30px 0px 0px 30px;
    width: 20%;
}
.sEle{
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;
    padding-left: 10px;
    padding-top: 15px;
}
#owenRbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    background: linear-gradient(180deg, rgba(20, 19, 53, 0.83) 0%, #B7BDC7 54.69%, rgba(20, 19, 53, 0.5) 100%);
    height: 50px;
    border-radius: 30px 0px 0px 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
}
#firstEl{
    padding-top: 20px;
}
#dashboard{
    padding-top: 20px;
    padding-left: 10px;
}
#adminProfile{
    height: 90%;
    width: 40px;
    border-radius: 50%;
}
.buffer{
    /* margin-left:250px; */
    width: 80%;
}
#owenLbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
    background: linear-gradient(180deg, rgba(20, 19, 53, 0.83) 0%, #B7BDC7 54.69%, rgba(20, 19, 53, 0.5) 100%);
    height: 50px;
    width: 100%;
    border-radius: 0px 30px 0px 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    /* background-color: #A1FC0E; */
}
#headerLeft{
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: space-evenly;
    align-items: center;
}
#headerRight{
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-evenly;
    align-items: center;
}
#searchInput{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    opacity: 0.7;
}
#searchInputField{
    width: 90%;
}
.icons{
    padding: 5px;
    background-color:white;
    opacity: 0.7;
    border-radius: 50%;
}
#search{
    padding: 5px;
}
#settings{
    border: 2px rgb(136, 129, 129) solid;
    background-color:white;
    opacity: 0.7;
    border-radius: 10px;
}
#bufferCont{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 10px;
}
#bufferTittle{
    width: 98%;
    border-bottom: 2px solid black;
}
#bufferdate{
    color: black;
    display: flex;
    flex-direction: row;
    width: 98%;
    height: 40px;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    background: linear-gradient(180deg, rgba(20, 19, 53, 0.83) 0%, #B7BDC7 54.69%, rgba(20, 19, 53, 0.5) 100%);

}
#dot{
    width: 15%;
    height: 15px;
    background-color: blueviolet;
    border-radius: 50%;
    box-shadow: 2px 2px 2px black;
    border: 3px solid white;
}
#month{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 12%;
    border-radius: 50px;
    height: 35px;
    padding-left: 2%;
}
#monthName{
    color: white;
    font-weight: bold;
    position: relative;
    top: 10px;
    padding-left: 5px;
}
#redundency{
    width: 54%;
    height: 10px;
}
#dateScaleOptions{
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    height: 35px;
    background-color: white;
    border-radius: 50px;
    opacity: 0.7;
}
.dateScales{
    border-radius: 25px;
    height: 30px;
    width: 23%;
}
.dateScalesCont{
    position: relative;
    bottom: 10px;
    text-align: center;
}

.days{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px rgb(136, 129, 129) solid;
    background: linear-gradient(180deg, rgba(20, 19, 53, 0.83) 0%, #B7BDC7 54.69%, rgba(20, 19, 53, 0.5) 100%);
    border-radius: 10px;
    color: greenyellow;
}

#daysOfMonth{
    display: grid;
    grid-template-columns: repeat(31, 40px);
    grid-template-rows: 40px;
    grid-gap: 10px;
    width: 95%;
    overflow-x: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
}
#Overviewcards{
    margin-top: 40px;
    display: flex;
    width: 98%;
    flex-direction: row;
    justify-content: space-between;

}
.card{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 20%;
    background: linear-gradient(180deg, rgba(20, 19, 53, 0.83) 0%, #B7BDC7 54.69%, rgba(20, 19, 53, 0.5) 100%);
    border-radius: 10px;
}
#c1{
    box-shadow: 0px 10px 5px blueviolet;
}
#c2{
    box-shadow: 0px 10px 5px rgb(17, 143, 185);
}
#c3{
    box-shadow: 0px 10px 5px rgb(11, 211, 11);
}
#c4{
    box-shadow: 0px 10px 5px rgb(245, 57, 245);
}
#d1{
    background-color: blueviolet;
}
#d2{
    background-color: rgb(17, 143, 185);
}
#d3{
    background-color:  rgb(11, 211, 11);
}
#d4{
    background-color: rgb(245, 57, 245);
}
.dot{
    width: 6%;
    height: 6px;
    background-color: blueviolet;/*fall back for cad tittle dots*/
    border-radius: 50%;
    margin-right: 4%;
    box-shadow: 2px 2px 2px black;
    border: 3px solid white;
}

.dotedTittle_button{
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 3px solid gray;
    margin-bottom: 20px;
}
.buttonLink{
    height: 24px;
    width: 20%;
}
.buttonLinkIcons{
    height: 100%;
    width: 100%;
}
.statistics{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 55%;
    border: 2px dashed gray;
    border-radius: 25px;
}
.iconSlot{
    height: 40px;
    width: 50px;
    background: rgb(185, 180, 180);
    border-radius: 15px;
}
.cardTittleIcon{
    width: 100%;
    height: 100%;
}
.analysisSlot{
    display: flex;
    flex-direction: row;
    width: 70%;
    height: auto;
    justify-content: space-between;
}
.totalSlot{
    width: 45%;
}
.todaySlot{
    width: 45%;
}
.totalData{
    position: relative;
    bottom: 15px;
    border-top: 2px solid gray;
}

.todayData{
    position: relative;
    bottom: 15px;
    border-top: 2px solid gray;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 7vh;
}
footer{
    width: 100%;
    height: 7vh;
    border-top: 3px solid #A18DFF;
}
#footerOptions{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    opacity: 0.5;
}
#footerOptions:hover{
    opacity: 1;
}
a:hover{
    color: #A1FC0E;
    transform: scale(1.01);
}
#diamondGradient{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 89px;
    width: 253px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    background: radial-gradient(50% 50% at 50% 50%, #A18DFF 0%, rgba(20, 19, 53, 0.54) 100%);

}
#backButton{
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    /* identical to box height */
    text-align: center;
}
#backIcon{
    height: 30px;
    width: 40px;
    border-radius: 0px; 
    padding-right: 10px; 
}

.dropup-content{
    display: none;
}
.sidebarBtn{
    display: none;
}