@media(max-width: 740px){

    .viewP{
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center;
        width: 100%;
        /* padding: 3rem 0 27rem; */
        height: auto;
    }

    .Wmessage{
        height: auto;
        width: 330px;
    }

    .LoginForms{
        margin-top: 0%;
        height: 70%;
        width: 90%;
        border-radius: 10px;
        border-radius: 10px;
        /* background-color: green; */
    
    }

    .changeOver{
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: auto;
        width: auto;
        border-radius: 0px;  
        opacity: 1;
        /* border: 3px solid yellow; */
    }
    #diamondGradient{
        display: none;
    }
/* 
    #web{
        background-color: gray;
    } */

    /* Blogs list */

    #blogGridLink{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .blogLink{
        width: 95%;
        /* min-width: 300px; */
        margin-top: 1.25%;
        margin-right: 0%;
        margin-bottom: 1.25%;
    }
    .blogLink:hover{
        transform: scale(0);
    }

    /* Blog views */
    #viewPForBlog{
        /*border: 2px solid red;*/
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
        justify-content: space-around;
    }
    #blogCont{
        width: 100%;
    }
    #recommend{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 92%;
    }
    #userProfileSlot{
        display: none;
    }
    #editSymbolSlot{
        display: none;
    }
}