@media(max-width: 740px){

    .viewP{
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center;
        width: 100%;
        /* padding: 3rem 0 27rem; */
        height: auto;
    }

    .Wmessage{
        height: auto;
        width: 330px;
    }

    .LoginForms{
        margin-top: 0%;
        height: 70%;
        width: 90%;
        border-radius: 10px;
        border-radius: 10px;
        /* background-color: green; */
    
    }

    .changeOver{
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: auto;
        width: auto;
        border-radius: 0px;  
        opacity: 1;
        /* border: 3px solid yellow; */
    }
    #diamondGradient{
        display: none;
    }
/* 
    #web{
        background-color: gray;
    } */
}